### root's cron

* 10 * * * /sbin/shutdown -r +5


### chuck's cron 

* 08 * * * env > ~/cronenv

05 08 * * * env - `cat ~/cronenv` /bin/sh

* 09 * * * /bin/echo " " > /home/$USER/urban/ts/q3ut4/games.log

01 09 * * * /bin/echo " " > /home/$USER/urban/pcw/q3ut4/games.log

02 09 * * * /bin/echo " " > /home/chuck/urban/ctf/q3ut4/games.log
