# Installation:
# Modify 'User' and 'WorkingDirectory' to suit where you installed Spunky Bot
# Afterwards: sudo systemctl daemon-reload
#             sudo systemctl enable spunkybotctf.service
#             sudo systemctl start spunkybotctf.service

[Unit]
Description=Spunky Bot CTF
After=network.target

[Service]
User=chuck
WorkingDirectory=/opt/spunkybotctf
ExecStart=/usr/bin/python spunky.py
StandardOutput=null
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
